.controls {
  text-align: center;
}

.line {
  display: inline-block;
  margin: 0 auto;
}

.controls .cursor-left {
  background-image: url('img/keyboard/cursor-left.svg');
  margin-right: 5vh;
}

.controls .cursor-right {
  margin-left: 5vh;
  background-image: url('img/keyboard/cursor-right.svg');
}

.controls .key {
  height: 10vh;
  background-size: contain;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.controls .cursor {
  margin-top: 70vh;
  width: 10vh;
}

.controls .key.active {
  border: 0.2vh solid transparent;
}

.controls .spacebar {
  background-image: url('img/keyboard/spacebar.svg');
  margin-top: 1vh;
  width: 70vh;
  max-width: 90vw;
}
