@keyframes larm {
  from { transform: rotate(-20deg);}
  to { transform: rotate(0deg);}
}
@keyframes rarm {
  from { transform: rotate(20deg);}
  to { transform: rotate(0deg);}
}

@keyframes osc {
  from { transform: rotate(-5deg); }
  to { transform: rotate(5deg); }
}

@keyframes lleg {
  from {transform: rotate(-20deg);}
    to {transform: rotate(20deg);}
}

@keyframes rleg {
  from {transform: rotate(20deg);}
  to {transform: rotate(-20deg);}
}

@keyframes stomp {
  from {transform: translateY(-2%);}
  to {transform: translateY(3%);}
}

.kozlov .head {animation-name: osc;}
.kozlov .arm.left {animation-name: larm;}
.kozlov .arm.right {animation-name: rarm;}
.kozlov .leg {animation-name: stomp;}
.kozlov.profile .arm {
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
.kozlov.profile .arm.left {
  animation-name: lleg;
}
.kozlov.profile .arm.right {animation-name: rleg;}
.kozlov.profile .leg {
  animation-duration: 0.5s;
  animation-name: lleg;
  animation-timing-function: linear;
}
.kozlov.profile .leg.left {
  animation-name: rleg;
}
