.torso_fas {
  position: relative;
  width: 341px;
  height: 302px;
}
.torso_fas .head {
  position: absolute;
  width: 93.841642228739005%;
  height: 138.41059602649005%;
}
.torso_fas .head .mouth_closed {
  position: absolute;
  width: 36.5625%;
  height: 6.937799043062201%;
}
.torso_fas .head .mouth_open {
  position: absolute;
  width: 19.6875%;
  height: 11.244019138755981%;
}
.torso_fas .left_shoulder {
  position: absolute;
  width: 36.070381231671554%;
  height: 50.993377483443709%;
}
.torso_fas .left_shoulder .brush {
  position: absolute;
  width: 79.674796747967477%;
  height: 118.83116883116882%;
}
.torso_fas .right_shoulder {
  position: absolute;
  width: 36.070381231671554%;
  height: 50.993377483443709%;
}
.torso_fas .right_shoulder .brush {
  position: absolute;
  width: 79.674796747967477%;
  height: 118.83116883116882%;
}
.torso_fas .shorts {
  position: absolute;
  width: 64.516129032258064%;
  height: 37.086092715231786%;
}
.torso_fas .shorts .left_trouser {
  position: absolute;
  width: 37.727272727272727%;
  height: 102.67857142857143%;
}
.torso_fas .shorts .left_trouser .foot {
  position: absolute;
  width: 139.75903614457832%;
  height: 140.%;
}
.torso_fas .shorts .right_trouser {
  position: absolute;
  width: 37.727272727272727%;
  height: 102.67857142857143%;
}
.torso_fas .shorts .right_trouser .foot {
  position: absolute;
  width: 139.75903614457832%;
  height: 140.%;
}
.torso_side {
  position: relative;
  width: 294px;
  height: 283px;
}
.torso_side .head {
  position: absolute;
  width: 116.66666666666667%;
  height: 149.46996466431096%;
}
.torso_side .head .mouth_close {
  position: absolute;
  width: 23.323615160349853%;
  height: 9.2198581560283692%;
}
.torso_side .head .mouth_open {
  position: absolute;
  width: 13.411078717201166%;
  height: 8.2742316784869985%;
}
.torso_side .left_shoulder {
  position: absolute;
  width: 46.598639455782312%;
  height: 36.74911660777385%;
}
.torso_side .left_shoulder .hand {
  position: absolute;
  width: 105.1094890510949%;
  height: 139.42307692307693%;
}
.torso_side .right_shoulder {
  position: absolute;
  width: 52.04081632653061%;
  height: 41.342756183745585%;
}
.torso_side .right_shoulder .hand {
  position: absolute;
  width: 111.11111111111111%;
  height: 122.22222222222223%;
}
.torso_side .shorts {
  position: absolute;
  width: 78.911564625850346%;
  height: 37.102473498233216%;
}
.torso_side .shorts .left_leg {
  position: absolute;
  width: 44.827586206896555%;
  height: 120.95238095238095%;
}
.torso_side .shorts .left_leg .foot {
  position: absolute;
  width: 96.15384615384616%;
  height: 129.13385826771653%;
}
.torso_side .shorts .right_leg {
  position: absolute;
  width: 44.827586206896555%;
  height: 120.95238095238095%;
}
.torso_side .shorts .right_leg .foot {
  position: absolute;
  width: 96.15384615384616%;
  height: 129.13385826771653%;
}
