.torso_fas {
  top: 400px;
  left: 200px;
}
.torso_fas .head {
  top: -110%;
  left: 3%;
}
.torso_fas .head .mouth_closed {
  bottom: 20%;
  left: 30%;
}
.torso_fas .head .mouth_open {
  bottom: 15%;
  left: 40%;
}
.torso_fas .left_shoulder {
  top: 26%;
  right: -16%;
}
.torso_fas .left_shoulder .brush {
  z-index: -10;
  top: 55%;
  left: 20%;
}
.torso_fas .right_shoulder {
  top: 26%;
  left: -16%;
}
.torso_fas .right_shoulder .brush {
  z-index: -10;
  top: 55%;
  right: 20%;
}
.torso_fas .shorts {
  z-index: -10;
  bottom: -25%;
  left: 18%;
}
.torso_fas .shorts .left_trouser {
  top: 15%;
  right: -3%;
}
.torso_fas .shorts .left_trouser .foot {
  z-index: -20;
  top: 50%;
  left: 5%;
}
.torso_fas .shorts .right_trouser {
  top: 15%;
  left: -3%;
}
.torso_fas .shorts .right_trouser .foot {
  z-index: -20;
  top: 50%;
  left: -40%;
}
.torso_side {
  display: none;
  top: 400px;
  left: 200px;
}
.torso_side .head {
  top: -114%;
  left: 0px;
}
.torso_side .head .mouth_close {
  z-index: 10;
  top: 68%;
  left: 75%;
  transform: scaleX(-1);
}
.torso_side .head .mouth_open {
  display: none;
  transform: scaleX(-1);
  top: 73%;
  left: 80%;
}
.torso_side .left_shoulder {
  z-index: -10;
  top: 19%;
  left: 80%;
}
.torso_side .left_shoulder .hand {
  z-index: -20;
  top: -50%;
  left: 65%;
}
.torso_side .right_shoulder {
  z-index: 10;
  top: 15%;
  left: 33%;
}
.torso_side .right_shoulder .hand {
  z-index: -5;
  top: -40%;
  left: 63%;
}
.torso_side .shorts {
  z-index: -1;
  top: 80%;
  left: 15%;
}
.torso_side .shorts .left_leg {
  z-index: -10;
  top: 0%;
  left: 60%;
}
.torso_side .shorts .left_leg .foot {
  z-index: -5;
  top: 60%;
  left: 0px;
}
.torso_side .shorts .right_leg {
  top: 10%;
  left: -2%;
}
.torso_side .shorts .right_leg .foot {
  z-index: -5;
  top: 70%;
  left: -10%;
}
