.container {
  position: relative;
  margin: auto;
  width: 360px;
  height: 500px;
}

.container > div {
  width: 100px;
  height: 200px;
  position: absolute;
}

.egor {
  left: 100px;
}

.egor .head {
  background: url("img/egor.png") no-repeat;
  background-size: 30px;
}

.bunny {
  left: 0;
}

.bunny .head {
  background: url("img/ksu.png") no-repeat;
  background-size: 43px;
  left: 30px;
}

.bear {
  left: 200px;
}

.bear .head {
  background: url("img/bear.png") no-repeat;
  background-size: 35px;
  top: 25px;
}

.zah {
  background: url("img/zah.png") no-repeat;
  background-size: 80px;
  width: 80px;
  height: 160px;
  position: absolute;
  opacity: 0;
  top: 400px;
  left: 120px;
}
